<header>
  <h1>
    Welcome to Shine <%= current_user.email %>
  </h1>
  <h2>
    Rails version: <%= Rails.version %>
  </h2>
</header>
<section>
  <P>
    Future home for Shine's Dashboard
  </P>
</section>