<article ng-app="customers" ng-controller="CustomerSearchController">

  <header>
    <h1 class="h1"> Customer Search </h1>
    <div class="glyphicon-log-out text-right navbar-btn">
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
    </div>
  </header>

  <section class="search-form">
    <form>
        <label for="keywords" , class="sr-only"> Keywords </label>
        <input type="text"
               name="keywords"
               placeholder="First Name, Last Name or Email Address"
               class="form-control input-lg"
               ng-change="search(keywords)"
               ng-model="keywords">
      </div>
    </form>
  </section>

  <section class="search-results" ng-if="customers.length > 0">
    <header>
      <h2>Results</h2>
    </header>
    <%= render partial: 'pager', locals: {keywords: @keywords, page: @page} %>

    <ol class="list-group">
      <li class="list-group-item clearfix"  ng-repeat="customer in customers">
        <h3 class="pull-right">
          <small class="text-uppercase">Joined</small>
          {{ customer.created_at | date }}
        </h3>
        <h2 class="h3">
          {{customer.first_name}} {{customer.last_name }}
        </h2>
        <small>{{ customer.username }}</small>
        <h4>{{ customer.email }}</h4>
      </li>
    </ol>

    <%= render partial: 'pager', locals: {keywords: @keywords, page: @page} %>
  </section>

</article>